body{
    font:15px/1.5 arial, helvetica, sans-serif; 
    padding:0;
    margin:0;
    background: #f4f4f4;
}

/* Global */
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul{
    padding:0;
    margin:0;
}

h1{
    font-size: 32px;
    text-underline-position: under;
    text-decoration: underline #6fbef7;
    font-weight: normal;
}

.black-bold{
    font-weight: bold;
}

button a{
    text-decoration: none;
}

.custom-underline::after {
    top: 65%;
    height: 2px;
    width: 90%;
    left: 5%;
    background-color: rgba(255, 255, 255, 0.5);
  }

/* Header */
header#home{
    background: #40596b;
    text-align: center;
}

header ul{
    display:inline-block;
    list-style:none; 
}

header li{
    float:left;
    padding:17px 8px 13px 8px;
    display: inline;
}

header li a{
    color: #ffd05a;
    text-decoration: none;
    font-size: 19px;
}

header li a:hover{
    color:#fafafa;
    transition: 0.5s;
}

header li a::selection{
    background-color: #6fbef7;
}

/* Section Home*/
section#home{
    background: #55c1ec;
    padding-bottom: 120px;
}

section#home .container{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}

section#home h1{
    font-size: 65px;
    margin-bottom: 25px;
    text-align: center;
}

section#home p{
    color: #fafafa;
    font-size: 24px;
    text-align: center;
}

section#home button{
    font-size: 25px;
    border: none;
    height: 70px;
    width: 300px;
    margin-left:75px;
}

section#home button a:visited{
    color:black;
}

section#home img{
    height: 275px;
    width: 300px;
    margin-top: 90px;
}

/*Section About */
section#about{
    background: #fafafa;
}

section#about .container{
    display:grid;
    grid-template-columns: auto auto auto;
} 

 section#about h1{
    grid-column-start: 2;
    grid-column-end: 2; 
    margin-left: -190px;
} 

section#about  p{
   font-size: 17px;
} 

section#about article#main-col{
    grid-column-start: 1;
    grid-column-end: 2;
    padding-left: 60px;
    padding-right: 60px;
} 

section#about article#side-col{
    grid-column-start: 2;
    grid-column-end: 3;
    padding-right: 60px;
  } 

section#about article#bottom-col{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-left: 60px;
    padding-right: 60px;
} 

/* Section Features */
section#features{
    background: #90dda9;
}

section#features .container{
    display: flex;
    height: 500px;
    justify-content: space-around;
}

section#features h1{
    text-align: center;
    padding-top: 30px;
} 

section#features .box-1, section#features .box-2, section#features .box-3{
    background: #40596b;
    margin: 5px;
    height: 325px;
    border-radius: 5%;
}

section#features .box-info-1, section#features .box-info-2, section#features .box-info-3{
    background: #edf1f3;
    text-align: center;
    width: 320px;
    margin-top: 50px;
    height: 125px;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}

section#features .container h4{
    padding-top: 25px;
    font-weight: normal;
}

section#features .box-1 img, section#features .box-2 img, section#features .box-3 img{
    margin-top: 20px;
}

section#features img{
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

section#features .red{
    color: red;
    background-color: #e7e6e6;
}

/* Add To Slack */
section#addToSlack{
    background: #fafafa;
}

section#addToSlack .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 600px;
    height: 375px;
    padding-bottom: 25px;
}

section#addToSlack button{
    font-size: 25px;
    border: none;
    height: 70px;
    width: 300px;
    background: #40596b;
}

section#addToSlack button a:visited{
    color:#f4f4f4;
}

section#addToSlack p{
    font-size: 18px;
}

section#addToSlack h1{
    text-align: center;
} 

/* Footer */
footer{
    background: #40596b;
    color:#f4f4f4;
    font-size: 12px;
    text-align: center;
}

footer p{
    font-family: 'Times New Roman', Times, serif; 
}

footer p a:visited{
    color: #f4f4f4;
}