body{
    font:15px/1.5 arial, helvetica, sans-serif; 
    padding:0;
    margin:0;
    background: #f4f4f4;
}

/* Global */
.container{
    width: 100%;
    margin: auto;
    overflow: hidden;
}

ul{
    padding:0;
    margin:0;
}

/* Header */
header#home{
    background: #40596b;
    text-align: center;
}

header ul{
display:inline-block;
list-style:none; 
}

header li{
    float:left;
    padding:17px 8px 13px 8px;
    display: inline;
}

header li a{
    color: #ffd05a;
    text-decoration: none;
    font-size: 19px;
}
header li a:hover{
    color:#fafafa;
    transition: 0.5s;
}
header li a::selection{
    background-color: #6fbef7;
}

/* Section Home*/
section#home{
    background: #55c1ec;
    padding-bottom: 230px;
}

section#home h1{
    font-size: 65px;
}

/*Section About */
section#about{
    background: #fafafa;
}

/* Section Features */
section#features{
    background: #90dda9;
}

/* Add To Slack */
section#addToSlack{
    background: #fafafa;
}

/* Footer */
footer{
    background: #40596b;
}